@model TickeTac.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Detalhes Categoria</h4>
                        </div>
                    </div>

                    <form  class="text-center">
                        <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card text-left">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="mb-4">Informaçoes da Categoria:</h3>
                                    </div>
                                </div>

                                <div class=" ml-2 row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" disabled/>
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label asp-for="Img" class="control-label"></label>
                                            <input asp-for="Img" class="form-control" disabled />
                                            <span asp-validation-for="Img" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <a asp-action="Index" class="btn ml-3 mb-3 btn-primary">De volta a lista</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>