@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                            <div class="iq-card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-cart-text text-capitalize">
                                        <p class="mb-0">
                                            Eventos
                                        </p>
                                    </div>
                                    <div class="icon iq-icon-box-top rounded-circle bg-primary">
                                        <i class="las la-eye"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <h4 class=" mb-0">+7</h4>
                                    <p class="mb-0 text-primary"><span><i class="fa fa-caret-down mr-2"></i></span>100%
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                            <div class="iq-card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-cart-text text-capitalize">
                                        <p class="mb-0 font-size-14">
                                            Contas Criadas
                                        </p>
                                    </div>
                                    <div class="icon iq-icon-box-top rounded-circle bg-warning">
                                        <i class="lar la-star"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <h4 class=" mb-0">+25</h4>
                                    <p class="mb-0 text-warning"><span><i class="fa fa-caret-up mr-2"></i></span>10%
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                            <div class="iq-card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-cart-text text-uppercase">
                                        <p class="mb-0 font-size-14">
                                            Visitantes
                                        </p>
                                    </div>
                                    <div class="icon iq-icon-box-top rounded-circle bg-success">
                                        <i class="lar la-user"></i>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <h4 class=" mb-0">+50</h4>
                                    <p class="mb-0 text-success"><span><i class="fa fa-caret-up mr-2"></i></span>60%
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-30">
            <div class="col-sm-12  col-lg-4">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex align-items-center justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Eventos Cadastrados</h4>
                        </div>
                    </div>
                    <div class="iq-card-body p-0">
                        <div id="view-chart-03"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex align-items-center justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Eventos cadastrados</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center seasons">
                            <div class="iq-custom-select d-inline-block sea-epi s-margin">
                                <select name="cars" class="form-control season-select">
                                    <option value="season1">Today</option>
                                    <option value="season2">This Week</option>
                                    <option value="season2">This Month</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="iq-card-body row align-items-center">
                        <div class="col-lg-7">
                            <div class="row list-unstyled mb-0 pb-0">
                                <div class="col-sm-6 col-md-4 col-lg-6 mb-3">
                                    <div class="iq-progress-bar progress-bar-vertical iq-bg-primary">
                                        <span class="bg-primary" data-percent="100"
                                            style="transition: height 2s ease 0s; width: 100%; height: 40%;"></span>
                                    </div>
                                    <div class="media align-items-center">
                                        <div class="media-body text-white">
                                            <h6 class="mb-0 font-size-14 line-height">Actions</h6>
                                            <small class="text-primary mb-0">+34%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-6 mb-3">
                                    <div class="iq-progress-bar progress-bar-vertical iq-bg-secondary">
                                        <span class="bg-secondary" data-percent="100"
                                            style="transition: height 2s ease 0s; width: 100%; height: 70%;"></span>
                                    </div>
                                    <div class="media align-items-center">

                                        <div class="media-body text-white">
                                            <p class="mb-0 font-size-14 line-height">Entreterimento</p>
                                            <small class="text-secondary mb-0">+44%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-6 mb-3">
                                    <div class="iq-progress-bar progress-bar-vertical iq-bg-info">
                                        <span class="bg-info" data-percent="100"
                                            style="transition: height 2s ease 0s; width: 100%; height: 40%;"></span>
                                    </div>
                                    <div class="media align-items-center">

                                        <div class="media-body text-white">
                                            <p class="mb-0 font-size-14 line-height">Esporte</p>
                                            <small class="text-info mb-0">+56%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-6 mb-3">
                                    <div class="iq-progress-bar progress-bar-vertical iq-bg-warning">
                                        <span class="bg-warning" data-percent="100"
                                            style="transition: height 2s ease 0s; width: 40%; height: 40%;"></span>
                                    </div>
                                    <div class="media align-items-center">

                                        <div class="media-body text-white">
                                            <p class="mb-0 font-size-14 line-height">Feira e exposiçoes</p>
                                            <small class="text-warning mb-0">+65%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-6 mb-lg-0 mb-3">
                                    <div class="iq-progress-bar progress-bar-vertical iq-bg-success">
                                        <span class="bg-success" data-percent="100"
                                            style="transition: height 2s ease 0s; width: 60%; height: 60%;"></span>
                                    </div>
                                    <div class="media align-items-center mb-lg-0 mb-3">

                                        <div class="media-body text-white">
                                            <p class="mb-0 font-size-14 line-height">Musica</p>
                                            <small class="text-success mb-0">+74%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-6  mb-lg-0 mb-3">
                                    <div class="iq-progress-bar progress-bar-vertical iq-bg-danger">
                                        <span class="bg-danger" data-percent="100"
                                            style="transition: height 2s ease 0s; width: 80%; height: 80%;"></span>
                                    </div>
                                    <div class="media align-items-center">
                                        <div class="media-body text-white">
                                            <p class="mb-0 font-size-14 line-height">Thrilled</p>
                                            <small class="text-danger mb-0">+40%</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div id="view-chart-02" class="view-cahrt-02"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>