<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>TickeTac | @ViewData["Title"]</title>
   <!-- Favicon -->
   <link rel="shortcut icon" href="~/images/favicon.png" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="~/Admin/assets/css/bootstrap.min.css">
   <!--datatable CSS -->
   <link rel="stylesheet" href="~/Admin/assets/css/dataTables.bootstrap4.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="~/Admin/assets/css/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="~/Admin/assets/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="~/Admin/assets/css/responsive.css">
</head>

<body>
   <!-- loader Start -->
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->
   <!-- Wrapper Start -->
   <div class="wrapper">
      <!-- Sidebar-->

      <div class="iq-sidebar">
         <div class="iq-sidebar-logo d-flex justify-content-between">
            <a asp-action="Index" asp-controller="Admin" class="header-logo">
               <img src="~/Admin/assets/images/AdminLogo.png" class="img-fluid rounded-normal" alt="">
               <div class="logo-title">
                  <span class="text-primary text-uppercase">TickeTac</span>
               </div>
            </a>
            <div class="iq-menu-bt-sidebar">
               <div class="iq-menu-bt align-self-center">
                  <div class="wrapper-menu">
                     <div class="Admin-circle"><i class="las la-bars"></i></div>
                  </div>
               </div>
            </div>
         </div>

         <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
               <ul id="iq-sidebar-toggle" class="iq-menu">
                  <li><a asp-action="index" asp-controller="Home" class="text-primary"><i class="ri-arrow-right-line"></i><span>Visit
                           site</span></a></li>
                  <li class="active active-menu"><a asp-action="Index" asp-controller="Admin" class="iq-waves-effect"><i
                           class="las la-home iq-arrow-left"></i><span>Dashboard</span></a></li>
                  <li><a asp-controller="User" asp-action="Index"  class="iq-waves-effect"><i
                           class="las la-user-friends"></i><span>User</span></a></li>
                  <li>
                     <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse"
                        aria-expanded="false"><i class="lab la-elementor iq-arrow-left"></i><span>Tabelas</span><i
                           class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a asp-action="index" asp-controller="Category"><i class="ri-refund-line"></i>Categorias</a>
                        </li>
                        <li><a asp-action="index" asp-controller="Event"><i class="ri-refund-line"></i>Eventos</a>
                        </li>

                        <li><a asp-action="index" asp-controller="City"><i class="ri-refund-line"></i>Cidades</a>
                        </li>

                        <li><a asp-action="index" asp-controller="StatusEVent"><i class="ri-refund-line"></i>Status de
                              Eventos</a>
                        </li>
                        <li><a asp-action="index" asp-controller="State"><i class="ri-refund-line"></i>Estados </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
      <!-- TOP Nav Bar -->
      <div class="iq-top-navbar">
         <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
               <div class="iq-menu-bt d-flex align-items-center">
                  <div class="wrapper-menu">
                     <div class="Admin-circle"><i class="las la-bars"></i></div>
                  </div>
                  <div class="iq-navbar-logo d-flex justify-content-between">
                     <a asp-action="Index" asp-controller="Admin" class="header-logo">
                        <img src="~/Admin/assets/images/AdminLogo.png" class="img-fluid rounded-normal" alt="">
                        <div class="logo-title">
                           <span class="text-primary text-uppercase">TickeTac</span>
                        </div>
                     </a>
                  </div>
               </div>
               <ul class="navbar-nav ml-auto navbar-list">
                  <div class="float-rigth display-block ">
                     <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <input type="submit" value="Sair" class=" btn btn-primary btn-rounded btn-sm my-0">
                     </form>
                  </div>
               </ul>
         </div>
         </nav>
      </div>
   </div>
   <!-- TOP Nav Bar END -->
   <!-- Page Content  -->
   @RenderBody()
   <!-- Wrapper END -->

   <!-- Footer -->
   <footer class="iq-footer">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6">
               <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
               </ul>
            </div>
            <div class="col-lg-6 text-right">
               Copyright 2020 <a href="#">Streamit</a> All Rights Reserved.
            </div>
         </div>
      </div>
   </footer>
   <!-- Footer END -->
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="~/Admin/assets/js/jquery.min.js"></script>
   <script src="~/Admin/assets/js/popper.min.js"></script>
   <script src="~/Admin/assets/js/bootstrap.min.js"></script>
   <script src="~/Admin/assets/js/jquery.dataTables.min.js"></script>
   <script src="~/Admin/assets/js/dataTables.bootstrap4.min.js"></script>
   <!-- Appear JavaScript -->
   <script src="~/Admin/assets/js/jquery.appear.js"></script>
   <!-- Countdown JavaScript -->
   <script src="~/Admin/assets/js/countdown.min.js"></script>
   <!-- Select2 JavaScript -->
   <script src="~/Admin/assets/js/select2.min.js"></script>
   <!-- Counterup JavaScript -->
   <script src="~/Admin/assets/js/waypoints.min.js"></script>
   <script src="~/Admin/assets/js/jquery.counterup.min.js"></script>
   <!-- Wow JavaScript -->
   <script src="~/Admin/assets/js/wow.min.js"></script>
   <!-- Slick JavaScript -->
   <script src="~/Admin/assets/js/slick.min.js"></script>
   <!-- Owl Carousel JavaScript -->
   <script src="~/Admin/assets/js/owl.carousel.min.js"></script>
   <!-- Magnific Popup JavaScript -->
   <script src="~/Admin/assets/js/jquery.magnific-popup.min.js"></script>
   <!-- Smooth Scrollbar JavaScript -->
   <script src="~/Admin/assets/js/smooth-scrollbar.js"></script>
   <!-- apex Custom JavaScript -->
   <script src="~/Admin/assets/js/apexcharts.js"></script>
   <!-- Chart Custom JavaScript -->
   <script src="~/Admin/assets/js/chart-custom.js"></script>
   <!-- Custom JavaScript -->
   <script src="~/Admin/assets/js/custom.js"></script>

</body>

</html>