<!DOCTYPE html>
<html class="no-js" lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>TickeTac | @ViewData["Title"] </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/css/glightbox.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel=stylesheet
        href="~/assets/css/A.bootstrap.min.css%2bLineIcons.2.0.css%2banimate.css%2btiny-slider.css%2bglightbox.min.css%2cMcc.4RKRGkT2S5.css.pagespeed.cf.tPexlwcGLm.css" />
    <link rel=stylesheet href="~/assets/css/A.main.css.pagespeed.cf.65XS99l10B.css" />

</head>

<body>
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                                <img src="~/images/logo/logo.png" alt="Logo">
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Eventos" asp-controller="Home"
                                            aria-label="Toggle navigation">Eventos</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="#Carlos" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-5" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Sobre nós</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <partial name="_LoginPartial"></partial>
                            <div class="button header-button">
                                <a href="javascript:void(0)" class="btn">Anunciar Evento</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    <!-- End Header Area -->

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- Start Footer Area -->
    <footer  class="footer">
        <!-- Start Footer Top -->
        <div id="Carlos" class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Locations</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="javascript:void(0)">Chicago</a></li>
                                        <li><a href="javascript:void(0)">New York City</a></li>
                                        <li><a href="javascript:void(0)">San Francisco</a></li>
                                        <li><a href="javascript:void(0)">Washington</a></li>
                                        <li><a href="javascript:void(0)">Boston</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <ul>
                                        <li><a href="javascript:void(0)">Los Angeles</a></li>
                                        <li><a href="javascript:void(0)">Seattle</a></li>
                                        <li><a href="javascript:void(0)">Las Vegas</a></li>
                                        <li><a href="javascript:void(0)">San Diego</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Links Rápidos</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Sobre Nós</a></li>
                                <li><a href="javascript:void(0)">Eventos</a></li>
                                <li><a href="javascript:void(0)">Entrar</a></li>
                                <li><a href="javascript:void(0)">Registrar</a></li>
                                <li><a href="javascript:void(0)">Ajuda & Suporte</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-contact">
                            <h3>Contato</h3>
                            <ul>
                                <li>Rua Ludovico Victório, 2140 - Vila Hab.<br> Barra Bonita, SP</li>
                                <li>Tel. +(55) 991144192 <br> Mail. support@TickeTac.com</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">         
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">
                                <ul class="footer-bottom-links">
                                    <li><a href="javascript:void(0)">Terms of use</a></li>
                                    <li><a href="javascript:void(0)"> Privacy Policy</a></li>
                                    <li><a href="javascript:void(0)">Advanced Search</a></li>
                                    <li><a href="javascript:void(0)">Site Map</a></li>
                                    <li><a href="javascript:void(0)">Information</a></li>
                                </ul>
                                <p class="copyright-text">Designed and Developed by <a href="https://graygrids.com/"
                                        rel="nofollow" target="_blank">GrayGrids</a>
                                </p>
                                <ul class="footer-social">
                                    <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/tiny-slider.js"></script>
    <script src="~/js/glightbox.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        //========= Category Slider 
        tns({
            container: '.category-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 4,
                },
                992: {
                    items: 5,
                },
                1170: {
                    items: 6,
                }
            }
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js%2bwow.min.js.pagespeed.jc.7bCeVoCJ7m.js"></script>
    <script>eval(mod_pagespeed_ThcNtUtH70);</script>
    <script>eval(mod_pagespeed_CsQgnkoSEo);</script>
    <script src="~/assets/js/tiny-slider.js.pagespeed.jm.G_Zu5oEg54.js"></script>
    <script src="~/assets/js/glightbox.min.js%2bmain.js.pagespeed.jc.wSczMGTP4u.js"></script>
    <script>eval(mod_pagespeed_yykQpIVYYZ);</script>
    <script>eval(mod_pagespeed_HdsMDM_iw_);</script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script
        type="text/javascript">const current = document.getElementById("current"); const opacity = 0.6; const imgs = document.querySelectorAll(".img"); imgs.forEach(img => { img.addEventListener("click", (e) => { imgs.forEach(img => { img.style.opacity = 1; }); current.src = e.target.src; e.target.style.opacity = opacity; }); });</script>

</body>

</html>
