@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var usuario = await UserManager.FindByEmailAsync(@User.Identity.Name);
    <div class="login-button">
        <ul>
            <li>
                <a asp-controller="User" asp-action="Index" title="Gerenciar">Olá,
                    @usuario.Name</a>
            </li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
                </form>
            </li>
                <div class="button header-button">
                    <a asp-controller="User" asp-action="Publicar" class="btn">Anunciar Evento</a>
                </div>
        </ul>
    </div>
}
else
{
    <div class="login-button">
        <ul>
            <li>
                <a asp-area="Identity" asp-page="/Account/Login"><i class="lni lni-enter"></i>Login</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Register"><i class="lni lni-user"></i>
                    Registrar</a>
            </li>
        </ul>
    </div>
}

