@{
    ViewData["Title"] = "Sobre nós";
}

<section class="about-us section">
    <div class=container>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content-left wow fadeInLeft" data-wow-delay=.3s>
                    <img src="/images/logo/logo.png" alt="#">

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">

                <div class="content-right wow fadeInRight" data-wow-delay=.5s>

                    <h2>
                        Sobre TickeTac</h2>
                    <p>Somos uma equipe de desenvolvedores pequena, que tem como objetivo facilitar a vida de todas as
                        pessoas que procuram se divertir em eventos próximos de sua cidade.</p>
                    <h3>O que fazemos?</h3>
                    <p>Para cumprir o nosso objetivo, oferecemos filtros para encontrar eventos em cidades específicas,
                        além de diversas outras mecânicas desenvolvidas por nós.</p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="section"> @* classe "our-achievement" opcional na section *@
    <div class=container>
        <div class=row>
            <!-- Start How Works Area -->
            <section class="how-works section" style="background-color: #fff;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">COMO FUNCIONA?</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">Não é muito complicado para entender como
                                    se usa o
                                    nosso site <br> mas caso precise, siga as instruções</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Work -->
                            <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                                <span class="serial">01</span>
                                <h3>Crie a sua conta</h3>
                                <p>Clique em "registrar" na parte superior direita do site e siga as intruções.</p>
                            </div>
                            <!-- End Single Work -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Work -->
                            <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                                <span class="serial">02</span>
                                <h3>Confirme a sua conta</h3>
                                <p>Entre no seu e-mail fornecido e confirme a sua conta.</p>
                            </div>
                            <!-- End Single Work -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Work -->
                            <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                                <span class="serial">03</span>
                                <h3>Publique seu evento</h3>
                                <p>Preencha os dados necessários para a publicação de um evento ao clicar no botão
                                    "Anunciar Evento".</p>
                            </div>
                            <!-- End Single Work -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

</div>

</div>

</div>

</div>
</div>
</div>
</section>

<div class="newsletter section">
    <div class=container>
        <div class=inner-content>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class=title>
                        <i class="lni lni-envelope"></i>
                        <h2>Contate-nos</h2>
                        <p>Precisa de ajuda com algo? Envie-nos um e-mail!</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class=form>
                        <form action="#" method=get target=_blank class=newsletter-form>
                            <input name=EMAIL placeholder="Seu e-mail" type=email>
                            <div class=button>
                                <button class=btn>Enviar<span class=dir-part></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>